<header>
    <div class="logo">
        <a href="/">snow-dev.com</a>
    </div>
    <nav>
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/about.html" title="About"><i class="fas fa-info"></i></a>
        <a href="/archive.html" title="Archive"><i class="fas fa-archive"></i></a>
        <a href="/rss.xml" title="RSS Feed"><i class="fas fa-rss"></i></a>
        <a href="https://github.com/snowiow" title="Github"><i class="fab fa-github"></i></a>
    </nav>
</header>
