<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>snow-dev.com :: $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/fontawesome-solid.min.css">
        <link rel="stylesheet" href="/css/fontawesome-brands.min.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">snow-dev.com</a>
            </div>
            <nav>
                <a href="/" title="Home"><i class="fas fa-home"></i></a>
                <a href="/about.html" title="About"><i class="fas fa-info"></i></a>
                <a href="/archive.html" title="Archive"><i class="fas fa-archive"></i></a>
                <a href="https://github.com/snowiow" title="Github"><i class="fab fa-github"></i></a>
                <a href="mailto:marcel.patzwahl@posteo.de" title="Contact Me"><i class="fas fa-envelope"></i></a>
            </nav>
        </header>
          <main role="main">
              <h1>$title$</h1>
              $body$
          </main>
          <footer>
            <nav>
                <a href="/impressum.html" title="Impressum">Impressum</a>
                <a href="/datenschutz.html" title="Datenschutz">Datenschutz</a>
            </nav>
          </footer>
    </body>
</html>
